@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}

@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }


  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.link-glow {
  position: relative;
  color: #d1d5db; /* Tailwind gray-300 */
  transition: color 0.3s ease;
}

.link-glow:hover {
  color: #a855f7; /* Tailwind purple-500 */
  text-shadow: 0 0 8px #a855f7, 0 0 12px #a855f7;
}

.link-glow::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #a855f7;
  box-shadow: 0 0 4px #a855f7;
  transition: width 0.3s ease;
}

.link-glow:hover::after {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}